* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}
body {
  background-color: #dae0e6;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
:root {
  --main-color: orangered;
  --dark-gray: #dbdbdb;
  --light-gray1: #d7dfe2;
  --light-gray2: #f2f6f7;
  --light-gray3: #7a9299;
  --border: #bbc7cc;
  --white: #ffffff;
  --black: #000000;
}

a {
  text-decoration: none;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-gray);
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  background-color: white;
  height: 70px;
}

.nav a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .btnlk {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#btnH {
  /* display: inline-block; */
  border: 2px solid orangered;
  padding: 10px 15px !important;
  border-radius: 50px !important;
  height: 40px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: orangered;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s;
}

#logout {
  display: inline-block;
  border: 2px solid orangered;
  padding: 10px 15px !important;
  border-radius: 50px !important;
  font-weight: bold;
  color: white;
  background-color: orangered;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 100px;
}
#logout:hover {
  background-color: orange;
}

.nav .btnlk a {
  text-decoration: none;
}
.logo {
  color: orangered;
  text-decoration: none;
  margin-left: 100px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-family: "lato black";
  margin-right: 40px;
}
.logo:hover {
  color: orange;
}
.search {
  width: 30%;
  background-color: #f5f3f3;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
}
.search .icon {
  padding: 5px;
  font-size: 20px;
  color: #b3b3b3;
}
.search input {
  width: 40%;
  border: none;
  background-color: #f5f3f3;
  padding: 7px;
  font-size: 18px;
}
.search:hover {
  border-color: rgb(78, 125, 197);
  background-color: #fff;
}
.search:hover input {
  background-color: #fff;
}
.username {
  color: orangered;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  font-family: "lato black";
}
.user {
  color: orangered;

  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 5px;
}
.user:hover {
  background-color: orange;
}
.continer {
  width: 80%;
  margin: auto;
}
.create-post {
  width: 90%;
  margin: auto;
}
.creating-post {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0;
  background-color: white;
  height: 60px;
}
.creating-post input {
  width: 70%;
  height: 30px;
  border: none;
  margin: 7px;
  background-color: #f5f3f3;
  border: 1px solid #b3b3b3;
  padding: 10px;
  border-radius: 3px;
}
.creating-post input:hover {
  background-color: #fff;
}
#saveButton {
  background-color: orangered;
  color: white;
  padding: 0.5em;
}
.continer2 {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.cont {
  padding-left: 20px;
  padding-top: 20px;
  background-color: white;
  width: 600px;
  height: 25%;
  margin-top: 15px;
  margin-left: -70px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.by {
  color: #7e7e7e;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
.by2 {
  color: orangered;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.comments {
  all: unset;
  background-color: orangered;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-left: 400px;
}
.title {
  color: #1a1a1b;
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 50px;
}

.top-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  width: 20%;
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}
.popular-container {
  display: flex;
}

.communities-near {
  margin-left: 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  border: 1px solid #b3b3b3;
  margin-bottom: 10px;
}
.part-title {
  background-image: url("https://i.pinimg.com/564x/05/52/21/0552219bd2e3489729ad2acffb5ade9e.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 15px;
}
.communities-near .item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid #d6d6d6;
}
.communities-near .item img {
  width: 35px;
  height: 35px;
  margin: 0 25px;
}
.top-news {
  background-image: url("https://i.pinimg.com/564x/2f/58/6b/2f586bb04b9acf65f93d562009ca82e4.jpg");
}
.communities-near .item i {
  margin: 0 25px;
  color: #71ea69;
}
.communities-near .list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.communities-near .list li {
  background-color: f5f3f3;
  padding: 5px;
}
.btn {
  height: 35px;
  margin: 15px;
  background-color: rgb(0, 121, 211);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 20px;
}

.lists {
  display: flex;
  align-items: flex-start;
  padding: 5px 10px;
}
.list-all {
  list-style: none;
  margin-left: 15px;
  line-height: 1.7;
  font-size: 14px;
}
